*.db
*.db-*
*.db-shm*
*.db-wal*
*.corrupt
*.repaired
*.repaired-*
/api/api
/api/data/*
!/api/data/.gitkeep
!/api/data/images/
/api/data/images/*
!/api/data/images/.gitkeep
.pnp
.pnp.*
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
coverage
.next/
out/
build
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env*
.vercel
*.tsbuildinfo
next-env.d.ts
node_modules/
kilter.db*
tmp/
