KILTER_TOGETHER_DATA_DIR=./data
# KILTER_TOGETHER_DB_PATH=./data/kilter.db
# KILTER_TOGETHER_APP_DB_PATH=./data/app.db
# KILTER_TOGETHER_IMAGE_DIR=./data/images
# KILTER_TOGETHER_KILTER_USERNAME=
# KILTER_TOGETHER_KILTER_PASSWORD=
# KILTER_TOGETHER_APP_SECRET=
# KILTER_TOGETHER_ENCRYPTION_KEY=
# KILTER_TOGETHER_PORT=8082
